@page "/statuses"
@using DrugBot.Core
@using DrugBot.Core.Bot
@inject IBotsHandlerController BotsHandlerController
@rendermode InteractiveServer

<PageTitle>Bot statuses</PageTitle>

<h1>Statuses</h1>
<ul>
    @foreach (BotStatus bot in _bots)
    {
        <li>@bot.Name: @bot.IsWork | @if (bot.IsWork == false)
                                     {
                                         <button @onclick="@(e => Start(@bot))">Start</button>
                                     }
        </li>
    }
</ul>

