@page "/statuses"
@using DrugBot.Core
@using DrugBot.Core.Bot
@inject IBotsHandlerController BotsHandlerController

<PageTitle>Bot statuses</PageTitle>

<h1>Statuses</h1>
<ul>
    @foreach (BotStatus bot in _bots)
    {
        <li>@bot.Name: @bot.IsWork | @if (bot.IsWork == false)
                                     {
                                         <button @onclick="@(e => Start(@bot))">Start</button>
                                     }
        </li>
    }
</ul>

@code {
    private IEnumerable<BotStatus> _bots = ArraySegment<BotStatus>.Empty;
    private Timer? _timer;

    protected override async Task OnInitializedAsync()
    {
        await UpdateBotList();
        _timer = new Timer(
            _ => UpdateBotList().GetAwaiter().GetResult(),
            null,
            TimeSpan.Zero,
            TimeSpan.FromSeconds(30));
    }

    private void Start(BotStatus bot)
    {
        BotsHandlerController.StartHandler(bot.Name);
    }
    private async Task UpdateBotList()
    {
        _bots = BotsHandlerController.GetStatus();
        await InvokeAsync(StateHasChanged);
    }
}